# ===== Hugging Face =====
HF_TOKEN=

# ===== AWS =====
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# ===== Stream (Chat/Video) =====
STREAM_APP_ID=
STREAM_API_KEY=
STREAM_API_SECRET=
VITE_STREAM_API_KEY=

# ===== MongoDB =====
MONGODB_URI=

# ===== Auth =====
JWT_SECRET=
GOOGLE_CLIENT_ID=